<header class="header-main active">
    <div class="sticky" style="height: 32px;">
        <div class="sticky__content sticky__content--pinned" style="top:0">
            <div class="announcement announcement--bg-black announcement--text-white">
                <div class="announcement__contents">

                    <div class="announcement__contents__item">

                        <i class="fa-regular fa-snowflake fa-flip" style="color: #ffffff;"></i>
                        Winter is coming ... Up to 25% off
                        <i class="fa-regular fa-snowflake fa-flip" style="color: #ffffff;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top mobile-hide">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="left">
                    <ul class="flexitem main-links">
                        <li><a id="text" class="active" href="#">MEN</a></li>
                        |
                        <li><a id="text" href="women-page.html">WOMEN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top -->
    <div id="header-nav" class="header-nav">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="menu-bar">
                    <a href="#" class="trigger desktop-hide" data-target="mobile-menu"><i class="fal fa-bars"></i></a>
                </div>

                <div class="left">
                    <div class="logo">
                        <a href="index.html"><img src="images/regalix-logo-1.png" alt=""></a>
                    </div>
                </div>
                <nav class="middle mobile-hide">
                    <ul class="flexitem second-links">
                        <li><a id="text" href="http://localhost:3000/">HOME</a></li>
                        <li class="has-child">
                            <a id="text" href="#">NEW ARRIVALS</a>
                            <div class="mega"> 
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Discover Now</h4>
                                                <ul class="sub-menu list-block">
                                                    <li><a href="">This Week</a></li>
                                                    <li><a href="">Previous Week</a></li>
                                                    <li><a href="">Exclusive</a></li>
                                                    <li><a href="">New Season</a></li>
                                                    <li><a href=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Just In</h4>
                                                <ul class="sub-menu list-block">
                                                    <li><a href="shop-page.html">Clothing</a></li>
                                                    <li><a href="">Shoes</a></li>
                                                    <li><a href="">Bags</a></li>
                                                    <li><a href=""></a></li>
                                                    <li><a href=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol products">
                                            <div class="row">
                                                <h4>New Arrivals</h4>
                                                <div class="media">
                                                    <div class="thumbnail"><a href=""><img src="images/clothing/2.png" alt=""></a></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-child">
                            <a id="text" href="shop-page.html">CLOTHING</a>
                            <div class="mega">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Discover Now</h4>
                                                <ul class="sub-menu list-block">
                                                    <li><a href="">This Week</a></li>
                                                    <li><a href="">Previous Week</a></li>
                                                    <li><a href="">Exclusive</a></li>
                                                    <li><a href="">New Season</a></li>
                                                    <li><a href=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol">
                                            <div class="row">
                                                <h4>Just In</h4>
                                                <ul class="sub-menu list-block">
                                                    <li><a href="shop-page.html">Clothing</a></li>
                                                    <li><a href="">Shoes</a></li>
                                                    <li><a href="">Bags</a></li>
                                                    <li><a href=""></a></li>
                                                    <li><a href=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flexcol products">
                                            <div class="row">
                                                <h4>Black Collections</h4>
                                                <div class="media">
                                                    <div class="thumbnail"><a href=""><img src="images/bg/banner1.jpg" alt=""></a></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a id="text" href="shop.html">SHOES</a></li>
                        <li><a id="text" href="#">BAGS</a></li>
                        <li><a id="text" class="red-text" href="#">Sale</a></li>
                    </ul>
                </nav>
                <div id="search-active" class="right no-overlay">
                    <ul class="flexitem second-links">
                        <li id="search-icon" class="search-icon">
                            <div id="search-float" class="search-float">
                                <div class="flexitem">
                                    <i class="fal fa-search"></i>
                                    <form action="" class="search">
                                        <input type="search" class="input" id="" placeholder="Search...">
                                    </form>
                                    <i class="fal fa-times" close-button ></i>
                                </div>
                            </div>
                            <a href="#" trigger-button data-target="search-active">
                                <div class="icon-small">
                                    <i class="fal fa-search end-icon"></i>
                                </div>
                            </a>
                        </li>
                        <li class="mobile-hide"><a href="wishlist-page.html">
                                <div class="icon-small"><i class="fal fa-star"></i></div>
                            </a></li>
                        <li class="mobile-hide">
                            <a href="cart-page.html" class="iscart">
                                <span class="shoppingbag__counter">1</span>
                                <span class="icon-small"><i class="fal fa-shopping-bag end-icon"></i></span>
                            </a>
                        </li>
                        <li><a href="user.html">
                                <div class="icon-small"><i class="fal fa-user end-icon"></i></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-->
</header>